*.opensdf
*.sdf
*.pdb
*.psess

# Backup files
*~

/Debug
/Release
/CUDATest/Debug
/CUDATest/Release

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.vcxproj
*.suo

*.jpg

# Qt Files
*.creator
*.creator.user
*.user
*.config
*.includes
*.creator.user.a3ec706

# Executable
traceMe
ptserver

# LaTeX files
*.pdf
*.bak
*.aux
*.bbl
*.blg
*.log
*.kilepr
*.tks
*.gz
*.synctex

# Archive backup
CUDAPT.tar.gz

# ppm file
.ppm
