*.opensdf
*.sdf
*.pdb
*.psess

/Debug
/Release
/CUDATest/Debug
/CUDATest/Release

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.vcxproj
*.suo

*.jpg

# Qt Files
*.config
*.user
*.files
*.creator
*.includes

# Executable
traceMe
